*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 25px;
}

.navbar .logo {
    font-size: 20px;
}

.navbar .menu ul {
    display: flex;
    gap: 20px;
}

.menu ul li{
    list-style: none;
    cursor: pointer;
}

.menu ul a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.menu ul a::after{
    position: absolute;
    content: "";
    background: red;
    left: 0;
    bottom: 0;
    height: 2px;
    width:0%;
    transition: width 0.3s ease-in;
}

.menu ul a:hover::after {
    width: 100%;
}

.section{
    min-height: 90vh;
    width: 100%;
    padding: 20px;
    background-color: #003262;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images img{
    height: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: 2px solid transparent;
}

.images img:hover{
    transform: scale(1.1);
    border:  2px solid orangered;
}

.images{
    display: grid;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    grid-template-rows: repeat(3,300px);
    gap: 30px;
    align-items: center;
    justify-content: center;
    place-items: center;
}